body {
    font-family: 'Times New Roman', Times, serif;
}

h1, h3 a {
    text-decoration: none;
    color: darkorange;
}

h2 {
    font-size: 28px;
}

.medicinais {
    color: green;
}

.ornamentais {
    color: purple;
}

p {
    font-size: 18px;
}

span.medicinais:hover {
    background-color: lightgreen;
}

span.ornamentais:hover {
    background-color: plum;
}

span.paginaInicial:hover {
    background-color: peachpuff;
}

img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: auto;
}