# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar logs
*.log

# Ignorar arquivos temporários
*.tmp
*.swp

# Ignorar pastas de backup do VSCode
.vscode/

# Ignorar arquivos de cache
.cache/ 